.welcomeUser {
  display: flex;
  font-size: 3em;
  font-family: Helvetica;
  font-weight: 100;
}

img {
  height: 90px;
  width: 90px;
}
button {
  padding: 10px;
  margin: 10px;
}

.inputStuff {
  display: flex;
  margin-left: 10px;
  width: 300px;
  &::placeholder {
    color: gray;
  }
}

.comments {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  button {
    display: flex;
    height: 25px;
    width: 45px;
    justify-content: center;
  }
}

.cancel {
  // position: absolute;
  // bottom: 0;
  border: 1px solid rgb(167, 30, 30);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 120px;
}

@import "../search/search.module.scss";

.favorites {
  @extend .details;
  // @extend .image;
  // @extend .default_image;
  @extend .text;
}
