.form {
  display: flex;
  height: 300px;
  width: 300px;
  flex-direction: column;
  input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(247, 100, 94);
    width: 80%;
  }
}
h1 {
  color: rgb(247, 100, 94);
  font-family: Helvetica;
  font-weight: 100;
}

button {
  background: rgb(247, 100, 94);
  height: 30px;
  color: white;
  border: none;
}

::placeholder {
  color: white;
  font-size: 14px;
  padding: 2px;
}
.profileimage {
  height: 18px;
  width: 18px;
  margin-right: 30px;
}

.passwordicon {
  height: 18px;
  width: 18px;
  margin-right: 30px;
}

.emailicon {
  height: 18px;
  width: 18px;
  margin-right: 30px;
}
