.signupButton {
  background: rgb(17, 42, 70);
  border: none;
  border-top: none;
  border-bottom: none;
}

.signupFont {
  color: rgb(247, 100, 94); //login text
  font-family: Helvetica;
  font-weight: 100;
}

@import "./loginform.module.scss";
