.welcomeUser {
  display: flex;
  font-size: 2em;
  font-family: Helvetica;
  font-weight: 100;
}

.outerDiv {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
  margin-left: 30%;

  input {
    margin: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    &::placeholder {
      color: gray;
    }
  }
}

.inputContainer {
  border: 2px solid pink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 800px;
}

.changeInfo {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  h3 {
    color: black;
  }
}
