body {
  margin: 0;
}
nav {
  display: flex;
  background: rgb(43, 161, 182);
  align-items: center;
  justify-content: flex-end;
  //   position: fixed;
  top: 0;
  width: 100%;
  //   z-index: 2;
  height: 70px;
}

h3 {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.welcomeUser {
  display: flex;
  border: 1px solid white;
  padding-right: 200px;
}

a {
  text-decoration: none;
}

.headerextension {
  display: flex;
  height: 300px;
  width: 100%;
  background: transparent;
  border: 2px solid black;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .one {
    height: 80%;
    width: 25%;
    border: 1px solid black;
    background: rgb(248, 227, 164);
  }
  .two {
    height: 80%;
    width: 25%;
    border: 1px solid black;
    background: rgb(248, 227, 164);
  }
  .three {
    height: 80%;
    width: 25%;
    border: 1px solid black;
    background: rgb(248, 227, 164);
  }
}
