nav {
  display: flex;
  background: rgb(43, 161, 182);
  align-items: center;
  justify-content: flex-end;
  //   position: fixed;
  top: 0;
  width: 100%;
  //   z-index: 2;
  height: 70px;
}

h3 {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.welcomeUser {
  display: flex;
  border: 1px solid white;
  padding-right: 200px;
}

a {
  text-decoration: none;
}
