.welcomeUser {
  display: flex;
  font-size: 2em;
  font-family: Helvetica;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    transparent;
  color: rgb(247, 94, 74);
  height: 100px;
  font-family: Helvetica;
}
.spinner {
  position: absolute;
  top: 45rem;
  left: 50rem;
  width: 50px;
  height: 50px;
}

.bigContainer {
  border: 20px solid rgb(17, 42, 70);
  overflow-y: scroll;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 250, 250, 0.2)
    ),
    url("https://images.pexels.com/photos/1042577/pexels-photo-1042577.jpeg?auto=compress&cs=tinysrgb&dpr=2&");
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
}

.searchBar {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#search_bar {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  &::placeholder {
    color: black;
  }
  &:hover {
    border: 1px solid #008abf;
    transition: 0.95s ease;
    color: #008abf;
    &::-webkit-input-placeholder {
      transition: opacity 0.95s ease;
      opacity: 0;
      color: black;
    }
  }
}

.searchIcon {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  top: -39px;
  right: -35px;
}

.searchIcon:hover {
  height: 35px;
  width: 35px;
  top: -39px;
}

.details {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .card {
    display: flex;
    // border: 1px solid rgb(22, 21, 21);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    width: 40%;
    justify-content: center;
    flex-direction: column;
    background: white;
    margin-top: 10px;
    height: 400px;
    .name_space {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      background: rgb(235, 108, 103);
      .headerText {
        color: rgb(255, 255, 255);
        font-family: Helvetica;
        font-weight: 400;
        margin-right: 12px;
      }
    }
    .details_space {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 60%;
      width: 100%;
      h3 {
        color: rgb(247, 94, 74);
        font-family: Helvetica;
        font-size: 14px;
      }
    }
    section {
      height: 15%;
      display: flex;
      justify-content: flex-end;
      .heart {
        height: 30px;
        width: 30px;
        margin-top: 2%;
        margin-right: 5%;
        cursor: pointer;
      }
    }
  }
}
.heart:hover {
  fill: red;
}

//////////////////////////Responsiveness ///////////////////////////

@media (max-width: 890px) {
  .welcomeUser {
    font-size: 20px;
    height: 60px;
  }
  .searchBar {
    width: 60%;
    margin-left: 50px;
  }
  #search_bar {
    height: 30px;
  }
  .searchIcon {
    top: -30px;
  }
}
