.welcomeUser {
  display: flex;
  font-size: 2em;
  font-family: Helvetica;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    transparent;
  color: rgb(247, 94, 74);
  height: 100px;
  font-family: Helvetica;
}
.spinner {
  position: absolute;
  top: 45rem;
  left: 40rem;
  width: 50px;
  height: 50px;
}

.bigContainer {
  border: 20px solid rgb(17, 42, 70);
  overflow-y: scroll;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  // background: rgb(255, 255, 255);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.searchBar {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#search_bar {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  &::placeholder {
    color: black;
  }
  &:hover {
    border: 1px solid #008abf;
    transition: 0.95s ease;
    color: #008abf;
    &::-webkit-input-placeholder {
      transition: opacity 0.95s ease;
      opacity: 0;
      color: black;
    }
  }
}

.searchIcon {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  top: -39px;
  right: -35px;
}

.searchIcon:hover {
  height: 35px;
  width: 35px;
  top: -39px;
}

.details {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .card {
    display: flex;
    border: 1px solid rgb(212, 18, 18);
    width: 80%;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    height: 400px;
    .name_space {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      background: rgb(235, 108, 103);
      h2 {
        color: rgb(255, 255, 255);
        font-family: Helvetica;
        margin-right: 12px;
      }
    }
    .details_space {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 60%;
      width: 100%;
      h3 {
        color: rgb(247, 94, 74);
        font-family: Helvetica;
        font-size: 14px;
      }
    }
    section {
      height: 15%;
      display: flex;
      justify-content: flex-end;
      .heart {
        height: 30px;
        width: 30px;
        background: transparent;
        margin-top: 2%;
        margin-right: 5%;
        cursor: pointer;
      }
    }
  }
}

//////////////////////////Responsiveness ///////////////////////////

@media (max-width: 890px) {
  .welcomeUser {
    font-size: 20px;
    height: 60px;
  }
  .searchBar {
    width: 60%;
    margin-left: 50px;
  }
  #search_bar {
    height: 30px;
  }
  .searchIcon {
    top: -30px;
  }

  .details {
    // width: 150%;
    .card {
      width: 330px;
    }
  }
}

@media (max-width: 792px) {
  .details {
    .card {
      width: 100%;
    }
  }
}
@media (max-width: 1224px) {
  .details {
    .card {
      width: 100%;
    }
  }
}
